<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/img/favicon.ico" />

<title th:text="#{confirmation.feedback.title}">Template</title>

<div th:include="css :: css"></div>

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css"
	href="../static/css/confirmation_feedback.css"
	th:href="@{/css/confirmation_feedback.css}" />

<link rel="stylesheet" th:href="@{/css/general.css}" />

</head>

<body class="text-center">
	<!--Main content area-->
	<div class="container">
		<div class="row mt-5">
			<div class="col-sm">
				<img class="mb-4" th:src="@{/img/logo.png}"
					src="../static/img/logo.png" alt="LIA Logo" width="72" height="72">
				<br>
				<div th:if="${error}" th:switch="${error}"
					class="alert alert-danger">
					<span th:case="internalError"
						th:text="#{confirmation.feedback.error.internalError}"></span>
					<span th:case="userAlreadyRegistered"
						th:text="#{confirmation.feedback.error.userAlreadyRegistered}"></span>
					<div th:if="${error_code} != null">
						(
						<span th:text="${error_code}"></span>
						)
					</div>

				</div>
				<div th:unless="${error}" class="alert alert-success">
					<p th:text="#{confirmation.feedback.title}"></p>
					<p th:text="#{confirmation.feedback.text}"></p>
				</div>
				<br>
				<a class="btn btn-primary" th:href="@{/login}">
					<span th:text="#{confirmation.feedback.login}"></span>
				</a>
			</div>
		</div>
	</div>

	<div th:include="script :: script"></div>


</body>
</html>

