<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}">

<title>Login</title>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />

</head>

<body class="text-center">

	<form name="login" th:action="@{/login}" method="post"
		class="form-signin">
		<h1 class="h3 mb-3 font-weight-normal">LEVO</h1>
		<img class="mb-4" th:src="@{/img/logo.png}" alt="" width="72"
			height="72">
		<h1 class="h3 mb-3 font-weight-normal">
			<span th:text="#{signin.header}"></span>
		</h1>
		<div th:if="${param.error}" class="alert alert-error">
			<span th:text="#{signin.error}"></span>
		</div>
		<div th:if="${param.logout}" class="alert alert-success">
			<span th:text="#{signin.logout.success}"></span>
		</div>
		<label for="username" class="sr-only" th:text="#{signin.email}"></label>
		<input type="text" id="username" name="username" class="form-control"
			th:placeholder="#{signin.placeholder.email}" required autofocus>
		<label for="password" class="sr-only"></label>
		<input type="password" id="password" name="password"
			class="form-control" th:placeholder="#{signin.placeholder.password}"
			required>
		<div class="checkbox mb-3">
			<label> <input type="checkbox" value="remember-me"> <span
					th:text="#{signin.rememberme}"></span>
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			<span th:text="#{signin.header}"></span>
		</button>
		<a class="nav-link" href="/signup">
			<span data-feather="home"></span>
			<span th:text="#{signin.signup}"></span>
		</a>

		<p class="mt-5 mb-3 text-muted">&copy; Levo 2019</p>
	</form>


</body>
</html>