<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico"
          th:href="@{/img/favicon.ico}">

    <title th:text="#{signup.feedback.title}">Template</title>

    <div th:include="css :: css"></div>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../static/css/signup_feedback.css"
          th:href="@{/css/signup_feedback.css}"/>

    <link rel="stylesheet" th:href="@{/css/general.css}"/>

</head>

<body class="text-center">
<!--Main content area-->
<div class="container">
    <div class="row mt-5">
        <div class="col-sm">
            <img class="mb-4" th:src="@{/img/logo.png}" src="../static/img/logo.png" alt="LIA Logo" width="72"
                 height="72"><br>
            <div class="alert alert-success">
                <span th:text="#{signup.feedback.title}"></span>
            </div>
            <br>
            <div class="alert alert-warning">
               <span th:text="#{signup.feedback.text}"></span>
            </div>
            <a class="btn btn-primary" th:href="@{/}"><span th:text="#{signup.feedback.backtohome}"></span></a>
        </div>
    </div>
</div>

<div th:include="script :: script"></div>


</body>
</html>

